<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\cocosproj\ry\shoujiduan\frameworks\runtime-src\proj.win32\GloryProject.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\cocosproj\ry\shoujiduan\frameworks\runtime-src\proj.win32</StartWorkingDirectory>
  </propertyGroup>
</Project>